.deals__main {
    background-color: rgba(219, 219, 219, 0.5);
    /* color: rgba(250, 236, 236); */
    max-width: 100%;
    height: auto;
    padding: 18px 20px;
}

.deal__heading {
    height: 20px;
    font-size: 21px;
    font-weight: bold;
}

.deals__body {
    background-color: white;
    padding: 20px;
    position: ;
}

a {
    text-decoration: none;
    color: #0F1111;
}

.deal {
    display: flex;
    gap: 15px;
    position: relative;
    overflow: hidden;
    background-color: white;
}

.item__main {
    width: 700px;
    height: 300px;
    margin: auto;
    color: #0F1111;
}

.item__image {
    width: 100%;
    padding: 10px;
    height: 64%;
}

.item__image>img {
    height: 100%;
}

.item__discount {
    background-color: #CC0C39;
    font-size: 12px;
    width: 12px;
    padding: 3px;
    color: white;
    border-radius: 2px;
}

.item__deal {
    color: #CC0C39;
    width: 200px;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
}

.side__arrows {
    position: absolute;
    background-color: rgba(221, 221, 221, 0.8);
    width: 50px;
    border-radius: 5px;
    box-shadow: 0 1px 3px #888;
    text-align: center;
    height: 100px;
    top: 55px;
    line-height: 100px;
    font-size: 45px;
    display: none;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.4s;
    color: rgba(15, 17, 17, 0.5);
}

#side__arrow1 {
    left: 0;
}

#side__arrow2 {
    right: 0;
}

.animate-right {
    animation-name: moveDiv;
    animation-duration: 1s;
}

@keyframes moveDiv {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(-20px);
    }
    90% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(0px);
    }
}

.animate-left {
    animation-name: moveDiv2;
    animation-duration: 1s;
}

@keyframes moveDiv2 {
    0% {
        transform: translateX(0px);
    }
    50% {
        transform: translateX(20px);
    }
    90% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(0px);
    }
}

.arrow__icon {
    top: 50%;
    font-weight: 800 !important;
    font-size: larger;
}

@media only screen and (max-width:1400px) {
    .deal {
        overflow: scroll;
    }
}