@font-face {
    font-family: amazon;
    src: url("Images/Amazon Ember.ttf");
}

* {
    margin: 0;
    font-family: amazon, sans-serif !important;
}

body {
    overflow: auto;
}

html {
    scroll-behavior: smooth;
}