.offers__main {
    width: 100%;
    height: auto;
    display: grid;
    gap: 1.5rem;
    transform: translateY(-25px);
    background-color: rgba(145, 145, 145, 0.2);
}

.offers__main--line1,
.offers__main--line2 {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: auto 1.5rem;
    background-color: transparent;
}

.offers__box {
    width: 19.2em;
    height: 22em;
    overflow: hidden;
    min-width: 15rem;
    background-color: #fff;
    text-align: left;
    padding: 20px;
}

.Box1 {
    width: 100%;
    height: 100%;
}

.offer__image {
    width: 100% !important;
    height: 5.5em;
}

.offers__images {
    margin: auto;
    display: grid;
    grid-gap: 0.5em !important;
    width: 100%;
    height: 90%;
    grid-template-columns: repeat(2, 1fr);
    align-items: end;
}

.heading {
    font-size: 20px;
    line-height: 22px;
    height: 30px;
    margin-bottom: 10px;
}

.offer__span {
    font-size: 12px;
    display: inline-block;
    width: 120px;
    overflow-wrap: normal;
}

.offers__link {
    font-weight: 100;
    font-size: 13px;
    text-align: left;
    text-decoration: none;
    color: #007185;
    margin-bottom: 5px;
}

.offers__link:hover {
    text-decoration: underline;
    color: rgb(242, 174, 102);
}

.Box2 {
    width: 100%;
    height: 90%;
    display: grid;
    align-items: end;
}

.Box2>img {
    height: 100%;
}

.Box3 {
    width: 48.5%;
    height: 24.5em;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 5px 40px 30px 5px rgb(0, 0, 0, 0.5) inset, 5px 40px 30px 5px rgb(0, 0, 0, 0.5) inset, 5px 40px 30px 5px rgb(0, 0, 0, 0.5) inset;
}

.heading__movie {
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    height: 30px;
    margin: 20px 10px 0px 15px;
    color: #fff;
}

.name {
    font-size: 13px;
    font-weight: 100;
    height: 30px;
    margin: 0px 15px;
    color: #fff;
}

.foot {
    position: absolute;
    bottom: 5%;
    margin: 0px 15px;
    color: #fff;
    font-size: 13px;
    font-weight: 100;
}

@media only screen and (max-width:700px) {
    .offers__box {
        width: 100% !important;
    }
    .offers__main--line1,
    .offers__main--line2 {
        margin: 2px 0px;
    }
    .offers__main {
        transform: translateY(-65px);
        gap: 0;
    }
}

@media only screen and (max-width:1200px) {
    .offers__main--line1,
    .offers__main--line2 {
        overflow-x: scroll;
    }
}

@media only screen and (max-width:495px) {
    .offers__main--line1::-webkit-scrollbar,
    .offers__main--line2::-webkit-scrollbar {
        display: none;
    }
    .offers__main--line1,
    .offers__main--line2 {
        flex-wrap: wrap;
    }
}